.formInput{
   
    display: flex;
    flex-direction: column;
    width: 25rem;  

}
.formInput input{
    margin: 0.5rem;
    padding: 0.5rem;
    border: 1px solid gray;
    border-radius: 2px;
   
}
label{
    font-size: 17px;
    color: gray;
}
span{
    font-size: 12px;
    padding: 3px;
    color: red;
    display: none
};

input:invalid:focus {
    border: 1px solid red;
  }
  
  
input:invalid:focus ~ span {
   display: block;
  }
  
  
  
 
  