body{
  background-color: rgb(173, 148, 208);
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
 
}
.container{
  display: flex;
  flex-direction: column;
 
 
}
.buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
 button{
  color: black;
  text-decoration: solid;
  border: 5px solid green;
 } 
  

input{
  padding: 15px;
 margin-bottom: 10px;
  border-radius: 10px;
}

