.container{
    background-color: rgb(196, 170, 105);
    position: absolute;
    right: 85rem;
    top: 27rem;
    padding: 0 5rem;
   border-radius: 10px;
  
}

.pokemonImage{
    width: 200px;
    height: 200px;
    
    
}